@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">
        <form asp-action="Pars" asp-controller="Home" method="get">
        <div class="col-1">

            <input type="submit" class="btn btn-outline-primary" value="Start"/>
        </div>
        </form>
    </div>
</div>
